@model App.Entities.Base.Producto

@{
    ViewBag.Title = "Create";
    string title = Model == null ? "Crear Producto" : "Editar Producto";

}

<h2>@title</h2>

@*Sin HTML Helpers
    <form action="/Categoria/Create" method="post">
        <label>Nombre</label> <input name="nombre" /> <br /><br />
        <label>Descripción</label> <input name="descripcion" /> <br /><br />

        <button class="btn btn-success">Guardar</button>
    </form>*@

@using (Ajax.BeginForm("Create", "Producto",
    new AjaxOptions() { OnSuccess = "app.ProductoView.RefreshLista()" }))
{
    <div class="form-horizontal">

        @Html.HiddenFor(item => item.ProductoID)

        @Html.HiddenFor(item => item.FechaCreacion)
        @Html.HiddenFor(item => item.UsuarioCreador)

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Código</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.ProductoCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductoCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Categoria</label>
            <div class="col-sm-10">
                @Html.DropDownList("CategoriaID", new SelectList(ViewBag.Categorias, "CategoriaId", "Nombre"), new { @class = "form-control" })                
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Marca</label>
            <div class="col-sm-10">
                @Html.DropDownList("MarcaID", new SelectList(ViewBag.Marcas, "MarcaId", "Nombre"), new { @class = "form-control" })
                
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Unidad de Medida</label>
            <div class="col-sm-10">
                @Html.DropDownList("UnidadMedidaID", new SelectList(ViewBag.UnidadesMedida, "UnidadMedidaId", "Nombre"), new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Precio por menor</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.PrecioMenor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrecioMenor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Precio por mayor</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.PrecioMayor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrecioMayor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Stock minimo</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.StockMinimo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StockMinimo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Stock Actual</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.StockActual, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StockActual, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
}



