@model IEnumerable<App.Entities.Base.Producto>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Productos</h2>

@using (Html.BeginForm())
{

    <input name="filterByName" class="form-control" value="@ViewBag.filterByName" placeholder="Digitar..."/>
    <br />
    <button class="btn btn-primary">Buscar</button>
    <br /><br />
}

<table class="table table-hover">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Marca</th>
        <th>Precio Mayor</th>
        <th>Precio Menor</th>
        <th>Stock Actual</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductoCode</td>
            <td>@item.Nombre</td>
            <td>@item.Categoria.Nombre</td>
            <td>@item.Marca.Nombre</td>
            <td>@item.PrecioMayor</td>
            <td>@item.PrecioMenor</td>
            <td>@item.StockActual</td>
        </tr>
        }
</table>

