@model IEnumerable<App.Entities.Base.Producto>
<table class="table table-hover">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Marca</th>
        <th>Precio Mayor</th>
        <th>Precio Menor</th>
        <th>Stock Actual</th>
        <th>#</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductoCode</td>
            <td>@item.Nombre</td>
            <td>@item.Categoria.Nombre</td>
            <td>@item.Marca.Nombre</td>
            <td>@item.PrecioMayor</td>
            <td>@item.PrecioMenor</td>
            <td>@item.StockActual</td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Producto", new { id = @item.ProductoID, name = @item.Nombre}, null)
            </td>
        </tr>
    }
</table>

